* {
  margin: 0;
}
.main {
  height: 100vh;
}
.info {
  margin: 20px;
  background-color: aqua;
  height: 300px;
  width: 460px;
  display: flex;
}
.right {
  position: relative;
  height: 100%;
  width: 100%;
}

.left {
  justify-content: left;
}
.header {
  padding: 20px;
}
.logo {
  position: fixed;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  background-color: purple;
}
.content {
  background-color: yellow;
  height: 140px;
  width: 100;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
.text {
  margin-top: 30px;
  height: 80px;
  width: 80px;
  background-color: green;
}
.innerbox {
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: brown;
  right: 0;
  bottom: 0;
}
