.container{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-top: 10px;
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.container:hover{
    cursor: pointer;
    background-color:rgb(236, 236, 236);
}
.icon{
    font-size: 2rem;
}