.wrapper {
  width: 500px;
  height: 1020px;
}

.menubar {
  position: absolute;
  width: 100vw;
  height: 164px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
}

.menudetail {
  position: absolute;
  width: 100vw;
  height: 14px;
  left: 0px;
  top: 150px;
  z-index: 15;
  background: #868686;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.picture {
  top: 0px;
  position: absolute;
  height: 150px;
  width: 100vw;
  z-index: 10;
}

#headings {
  color: #4e4e4e;
  text-decoration: none;
  font-size: 45px;
  font-family: "Yrsa", serif;
  font-style: normal;
  line-height: 55px;
  font-weight: 500;
}

#home {
  color: #4e4e4e;
  text-decoration: none;
  font-size: 50px;
  font-family: "Yrsa", serif;
  font-style: normal;
  line-height: 60px;
  font-weight: 500;
}

.home {
  padding-top: 54px;
}

.text {
  position: absolute;
  display: flex;
  z-index: 100;
  padding-left: 123px;
}

ul {
  display: flex;
  flex-direction: row;
  padding-top: 58px;
  padding-bottom: 37px;
  padding-left: 68px;
}

li {
  padding-left: 48px;
}
.content {
  position: absolute;
  top: 200px;
  padding-left: 123px;
  width: 800px;
}
h1 {
  font-size: 30px;
  font-family: "Yrsa", serif;
  font-style: normal;
  color: #4e4e4e;
  padding-bottom: 50px;
}
p {
  padding-top: 10px;
  padding-left: 5px;
}
tbody:before {
  content: "@";
  display: block;
  line-height: 10px;
  text-indent: -99999px;
}
table {
  border-collapse: separate;
  border-spacing: 10px;
}
.matches {
  display: flex;
}

.logos{
      width: 50px;
      height: 50px;
}
.div3{
  padding-left: 120px;
}
.div1{
  padding-right: 50px;
}
