.buttons {
  padding: 25px;
  display: flex;
  justify-content: center;
}
button{
    padding: 20px;
    margin: 10px;
    border-style: none;
    background-color:aquamarine;
    
}
button:hover{
    background-color: rgb(35, 255, 182);
    cursor: pointer;
}

.content{
  padding-left: 5px;
  padding-right: 5px;
}
.content li{
  background-color: rgb(187, 181, 181);
  padding: 15px;
  margin-bottom: 2px;
}
