.tasks{
    height: 60vh;
    width: 30vw;
    background-color: white;
    margin-bottom: 30px;
    margin-left: 60px;
    padding-top: 1px;
    border: 1px solid black;
    
}
*{margin-left: 20px;


}
.input{
    margin-bottom: 30px;
}
.button{
    margin-top: 30px;
}
.addedTask{
    background-color: whitesmoke;
    margin: 5px;
    
}

.button:hover{
    background-color: aliceblue;
    cursor: pointer;
}