.main{
    padding: 40px;
}

.header{
    font-size: 20px;
    font-weight: 700;
    padding: 12px;
}

.info{
    font-size: 20px;
    padding-left: 15px;
    padding-bottom: 15px;
}
.content{
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 300px;
    top: -5px;
}